################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LowLevelDesign/TicTacToe/obj
/LowLevelDesign/.vs/LowLevelDesign.slnx
/LowLevelDesign/.vs/LowLevelDesign/CopilotIndices/18.5.39194.52559
/LowLevelDesign/TicTacToe/bin/Debug/net10.0
/LowLevelDesign/.vs/ProjectEvaluation
/LowLevelDesign/ParkingLot/obj/Debug/net10.0
/LowLevelDesign/ParkingLot/obj
/LowLevelDesign/ParkingLot/bin/Debug/net10.0
/LowLevelDesign/.vs/LowLevelDesign/CopilotIndices/18.6.39611.21775
